* {
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
}

html {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    background-color: var(--secondary-color);
}

body {
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
}

html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

.button-settings{
    display: none;
}


.hede-href-displ {
    margin-right: auto;
    margin-left: auto;
}
i{
    color: var(--secondary-color);
}


.div-button-set {
    display: flex;
    border-radius: 10px;
    justify-content: end;
}




legend{
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    top: 30px;
}

fieldset{
    border: none;
}

.information{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    padding: 25px 50px;
    border-radius: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    padding: 25px 50px;
    border-radius: 25px;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

input {
    font-size: 1.6rem;
    background: transparent;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    height: 50px;
    border-radius: 10px;
}

.panel{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text{
    font-size: 1.5rem;
    font-weight:600;
    margin: 15px 20px 0 10px;
    padding-top: 15px;
    text-align: center;
}

.gender1{
    display: flex;
}

input[type="radio"]{
    display: none;
}

.gender{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border: 2px solid var(--third-color);;
    border-radius: 10px;
    padding: 15px 30px 15px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: center;
    color:var(--secondary-color)
}
input[type="radio"]:checked + .gender{
    background-color: var(--secondary-color);
    color:var(--primary-color);
}

.select{
    border: 2px solid var(--third-color); ;
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 10px 35px 10px 15px;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 1.6rem;
    text-align: center;
}
.button-1{
    transition: transform 0.3s ease;
    display: flex;
    background-color:var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    width: 80%;
    justify-content: center;
}

.button-1:hover{
    background-color:tomato;
    cursor: pointer;
    box-shadow: 5px 5px 15px  var(--third-color);;
    transform: scale(1.1);
}

.button-1:active{
    background-color: var(--third-color);;
    cursor: pointer;
}

.button-2{
    transition: transform 0.3s ease;
    display: flex;
    background-color:var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    width: 80%;
    justify-content: center;
}

.button-2:hover{
    background-color: tomato;
    cursor: pointer;
    box-shadow: 5px 5px 15px  var(--third-color);;
    transform: scale(1.1);
}

.button-2:active{
    background-color:var(--third-color);
    cursor: pointer;
}

.text-button1{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 20px;
    padding-right: 50%;
    padding-left: 50%;
}

.text-button1:hover{
    color: var(--third-color);
}

.text-button1:active{
    color: var(--primary-color);
}

.text-button2{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 20px;
    padding-right: 50%;
    padding-left: 50%;
}

.text-button2:hover{
    color:  var(--third-color);
}

.text-button2:active{
    color: var(--primary-color);
}
.logo {
    width: 10em;
    justify-content: start;
    margin: 100px;
    transform: rotate(30deg) scale(1.5) skew(20deg, 10deg);
}
