.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: dashboard;
  align-items: center;
  padding: 0%;
}
.main{
    display: grid;
    grid-template-columns: 1fr 5fr  ;
    grid-template-areas:
    "dashboard board"
    "dashboard gallery";
}
.wrapper1{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    min-width: 370px;
  }
  .board{
    display: grid;
    grid-template-columns:repeat(auto-fill, 1fr);
    grid-template-rows:repeat(auto-fill, 1fr);
    column-gap: 10px;
    grid-area:board;
}
.fsi{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 6;

}
.ssi1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2;

}
.ssi2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2;
}
.ssi3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2;
}

.tsi1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 3;
}
.tsi2{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 3;
}
footer{
    display: flex;
    grid-area: footer;
}

.nomargin{
    margin:0;
}
.gallery{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 20px;
    
}
.div_1{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-areas: 
    'a';

}
.image{
    width: 90%;
    object-fit: cover;
    height: 90%;
    grid-area: a;
}
.link{
    grid-area: a;
}
.fs19 {
    font-size: 1.9rem;
}
